
@import "ember-bootstrap/bootstrap";

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}
.full-screen {
    height: 100%;
    width: 100%;
}

.col-md-9{
    height: 450px;
    width: 500px;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #eb650c; /* Add a green color to the "active/current" link */
    color: white;
  }

img{
  height: 90px;
  width: 400px;
} 