<div class="row">
    <div class="col-md-3">
        <LinkTo @route="about">About</LinkTo>
    </div>

    <div class="col-md-3">
        <LinkTo @route="about">Privacy Policy</LinkTo>
    </div>

    <div class="col-md-3">
        <LinkTo @route="about">Third Party</LinkTo>
    </div>

    <div class="col-md-3">
        <LinkTo @route="about">Security</LinkTo>
    </div>
</div>

