<div class="HNav" >
    <img src="/images/imago.jpg">
    <span style="padding-left: 80%;">
        <select {{action "changeLanguage" on="change"}} id="lan" style="margin-left: 20px;">
            <option value="en-us">english</option> 
            <option Value="es-es">Spanish</option>
            <option value="de-de">Dutch</option>
            <option value="fr-fr">French</option>
        </select>
    </span>
 </div>