 <div class="vertical-menu">
  <LinkTo @route="index" class="active">Home</LinkTo>
  <LinkTo @route="country-layer-page">Country Layer</LinkTo>
  <a href="#">City Layer</a>
  <a href="#">Street Layer</a>
  
  <input type="checkbox" id="points" class="input-menu"/>
  <label for="points"> Mark As Point</label><br>
  <input type="checkbox" id="images" class="input-menu"/>
  <label for="images"> Mark As Image</label><br>
  
</div> 