 <div class="vertical-menu">
  <a href="#" class="active">Home</a>
  <a href="#">Country Layer</a>
  <a href="#">City Layer</a>
  <a href="#">Street Layer</a>
  
  <input type="checkbox" id="points" class="input-menu"/>
  <label for="points"> Mark As Point</label><br>
  <input type="checkbox" id="images" class="input-menu"/>
  <label for="images"> Mark As Image</label><br>
  
</div> 