<h2>{{t "hello.world"}}</h2>

<select id="lan"> 
 <option value="en-us"> english </option>
 <option value="de-de"> Dutch </option>
</select>


<main class="container-fluid" style="height: 100%;">
    <div class="row" style="margin-top: 20px; height: 80%;">
        <div class='col-md-3'>
            <Navbar/>
        </div>
        <div class="col-md-7">
            {{outlet}}
        </div> 
    </div>
</main>



